html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
.holiday-parent {
    width: 65rem;
    height: 45rem;
}
.holiday-gallery {
    position: relative;
    margin: 2rem;
}
.holiday {
    height: 20rem;
    position: absolute;
    transition: all .3s;
    outline-offset: 1rem;
}
.diwalli {
    top: 5rem;
    left: 25%;
}
.CHRISTmas {
    top: 2rem;
    right: 0rem;
}
.cnewyear {
    top: -20rem;
    left: 8;
}
.holiday:hover {
    transform: scale(1.3);
    outline: 1rem solid purple;
    z-index: 2;
}
.holiday-gallery:hover .holiday:not(:hover) {
    transform: scale(0.8);
    opacity: 0.5;
}